body{
    font-family: Arial, sans-serif;
    margin: 0;
}
table {
    border-collapse: collapse;
    width: 60%;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #000;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}
